@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Dancing+Script:wght@500&family=Kanit:wght@300&family=Roboto:wght@300;400;500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 1000px;
    margin-left: 200px;
    font-family: 'Alkalami', serif;
    background: #252525;
}
