@use 'mixins';

section{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 33px;
    justify-content: space-around;
}

.publicidad{
    margin-top: 10px;
    width: 1000px;
    height: 450px;
    background-image: url("img/portada-adidas.png");
    background-size: cover;
    border: solid 1px rgb(108, 108, 108);
    border-radius: 2px;
    transition: all 1s;
    &__back{
        @include mixins.buttonPubli ;
        left: 240px;
    }
    &__next{
        @include mixins.buttonPubli ;
        right: 190px;
    }
}

.filtro{
    height: 30px;
    display: block;
    margin-left: 456px;
    margin-top: 40px;
    text-align: center;
    border: none;
    border-bottom: solid 3px white;
    color: white;
    outline: none;
    font-family: 'Alkalami';
    font-size: 18px;
    width: 170px;
    background: none
}

.card{
    padding: 6px; 
    border-radius: 5%;
    border: solid 1px black;
    height: 320px;
    width: 200px;
    background-color: white;
    text-align: center;
    transition: all .3s ;
    &:hover{
        transform: scale(1.2);
    }
    &__img{
        height: 200px;
        width: 100%;
        background-size: cover;
        border-bottom: 1px black solid;
        cursor: pointer;
    }
    &__button__añadir{
        color: aliceblue;
        border: none;
        border-radius: 4px;
        width: 77px;
        height: 25px;
        background-color: rgb(28, 74, 255);
        transition: all .3s ;
        &:hover{
            cursor: pointer;
            transform: scale(1.2);
        }
    }
    &__info{
        position: absolute;
        margin-left: 153px;
        margin-top: -5px;
        cursor: pointer;
        transition: all .3s ;
        &:hover{
            cursor: pointer;
            transform: scale(1.2);
            }
    }
    &__descripcion{
        font-size: .85em;
        &__precio{
        font-weight: 600;
        font-size: large;
        }
    }
}
